
@{
    ViewBag.Title = "O_Nama";
}
<link href="~/Fronte_End_Stana/KorisceniCSS/style.css" rel="stylesheet" />
<div class="body-content">
    <div class="hederFooter" style="background-image: url('../Slike/oNama_Slika.jpg')">
        <div class="tekstNaslov">
            <div>
                <div class="row">
                    <div class="col-lg-5">
                        <h1 id="Naslov"><b>Mi smo Link.JobPro, drago nam je..</b></h1>
                        <h3 id="tekstN"><b>
    Link.JobPro je platforma posvećena IT zajednici sa najvećom posetom kada su u pitanju domaći IT portali, sa najviše registrovanih korisnika i najvećim brojem oglasa za posao. Istovremeno, najveća smo baza profila kompanija i najveća baza recenzija koje o radu u tim kompanijama ostavljaju bivši i sadašnji zaposleni,
    uključujući iskustva sa intervjua za posao i informacije o platama.
</b>
                            
                        </h3>
                    </div>
                    <div class="col-lg-7">

                    </div>

                </div>

            </div>
            
        </div>
        </div>
    <div class="container">
        <p class="tekstFooter">
            Na Link.JobPro-u radi posvećeni tim koji danas broji više od 20 članova, čiji je zadatak da bude svakodnevna podrška tebi koji čitaš ove redove i svi našim korisnicima, da nijedno pitanje ne ostane neodgovoreno, da svi servisi funkcionišu besprekorno, da na sajtu uvek bude najveći mogući broj prilika za zaposlenje, da putem platforme za recenzije budemo centralni vodič u izboru karijere, da podižemo transparentnost domaćeg tržišta rada i činimo generalno Srbiju boljim mestom za rad kada je u pitanju IT industrija.
        </p>
        <p class="tekstFooter">
            U svemu što radimo vodimo se ciljem da olakšamo život našim korisnicima, držimo ih kao malo vode na dlanu. Ova formulacija je upisana i u naš zvanični dokument o kompanijskim vrednostima i to je nešto sa čim nikada nema šale. Jednako kada je u pitanju junior koji se bori za svoje prvo zaposlenje, jednako i kada je u pitanju senior koji puno opuštenije dolazi kod nas da baci pogled na vesti i recenzije o poslodavcima. Jednako kada je u pitanju IT-jevac programer i IT-jevac ne-programer, jednako kada vodimo beskonačne razgovore sa poslodavcima zašto nam integritet i sama svrha postojanja platforme ne dozvoljava da obrišemo nijedan negativan komentar o kompaniji.
        </p>
        <p class="tekstFooter">
            Naš je cilj da na isti način i sve IT kompanije tretiraju svoje zaposlene! Zbog toga smo dostupni i svim poslodavcima koji neguju dobre prakse kada su u pitanju uslovi zapošljavanja, kako bismo promocijom pozitivnih primera menjali sliku domaćeg tržišta IT zapošljavanja. Sa 100 najpoželjnijih IT poslodavaca u Srbiji smo zato nedavno uspostavili partnerski odnos, a naši korisnici uvek o njima mogu da saznaju sve putem Premium profila na našem sajtu.
        </p>

    </div>
</div>

